.parag_wrapper__ {
  border: 1px solid $primaryColor;
  border-radius: $mainBorderRadius;
  padding: 30px;
  margin-bottom: 36px;

  &.with_margin_top__ {
    margin-top: 16px;
  }

  .parag_title__ {
    font-size: 22px;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 24px;
  }

  .parag__ {
    color: $headingSecondaryColor;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;

    @include xs {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}